@{
  Layout = "_Layout";
}

@using GutenSearch.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("There was an error. Please fix the following:") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)

  @Html.LabelFor(user=> user.Password)
  @Html.EditorFor(user=> user.Password)

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.EditorFor(user=> user.ConfirmPassword)

  <input type="submit" value="Register User" />
}

@using (Html.BeginForm("RegisterLibrarian", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user=> user.Email)

  @Html.LabelFor(user=> user.Password)
  @Html.EditorFor(user=> user.Password)

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.EditorFor(user=> user.ConfirmPassword)

  <input type="submit" value="Register Librarian" />
}

<p>@Html.ActionLink("Back to accounts page", "Index")</p>