@{
    ViewData["Title"] = "Book Form";
}

@model Book

<h3>@ViewData["Title"]</h3>

<form asp-action="@ViewData["FormAction"]" asp-controller="Books" method="post">

    @* IF form is being used to edit, then attach the Id to model. *@
    @if (Model != null && Model.BookId != 0)
    {
        @Html.HiddenFor(m => m.BookId)
    }

    @* Author Dropdown *@
    <div class="form-group">
        <div>
            @Html.Label("Select Author: ")
            @Html.ListBox("AuthorIds", ViewBag.AuthorIds as MultiSelectList, new { @class = "form-control" })
        </div>
    </div>
   
    @* Title *@
    <div class="form-group">   
        <label asp-for="Title" class="control-label">Title: </label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="@ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>

<p>@Html.ValidationSummary(true, "", new { @class="text-danger" })</p>