@{
    ViewData["Title"] = "Author Form";
}

@model Author

<h3>@ViewData["Title"]</h3>

<form asp-action="@ViewData["FormAction"]" asp-controller="Authors" method="post">

    @* IF form is being used to edit, then attach the Id to model. *@
    @if (Model != null && Model.AuthorId != 0)
    {
        @Html.HiddenFor(m => m.AuthorId)
    }

    @* First Name *@
    <div class="form-group">   
        <label asp-for="FirstName" class="control-label">First Name: </label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    @* Last Name *@
    <div class="form-group">   
        <label asp-for="LastName" class="control-label">Last Name: </label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="@ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>

<p>@Html.ValidationSummary(true, "", new { @class="text-danger" })</p>